extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST")
    table
      tr
        td
          input(type="text" name="userName" placeholder="username...")
      tr
        td
          input(type="password" name="userPassword" placeholder="password...")
    input(type="submit" name="login" value="login")
    input(type="submit" name="create" value="create")
  div
    p #{err}
