html {
  width: 100%;
  background-color: midnightblue;
}

html, body {
  padding: 0;
  height: 100%;
  overflow: scroll;
}

body {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

h1, h2, h3 {
  margin: 0;
  padding: 5px;
}

#header {
  background-color: #000b31;
  color: white;
}

#container {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template: 100% / 30% 70%;
}

#leftPane, #rightPane {
  border: 1px solid #999;
  overflow: scroll;
}

#statusBar {
  width: 100%;
  height: 25px;
  text-align: right;
}

div input {
  padding: 10px;
  width: 60%;
  margin-right: .5%;
}

div button {
  width: 10%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#messageTo {
  margin: 0;
  width: 20%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}
